<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated NUOPC -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            class="org.earthsystemmodeling.cupid.NUOPC.presentation.NUOPCModelWizard"
            finalPerspective="org.earthsystemmodeling.cupid.perspective"
            icon="icons/full/obj16/NUOPCModelFile.gif"
            id="org.earthsystemmodeling.cupid.NUOPC.presentation.NUOPCModelWizardID"
            name="%_UI_NUOPCModelWizard_label"
            project="true">
         <description>%_UI_NUOPCModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated NUOPC -->
      <editor
            id="org.earthsystemmodeling.cupid.NUOPC.presentation.NUOPCEditorID"
            name="%_UI_NUOPCEditor_label"
            icon="icons/full/obj16/NUOPCModelFile.gif"
            extensions="nuopc"
            class="org.earthsystemmodeling.cupid.NUOPC.presentation.NUOPCEditor"
            contributorClass="org.earthsystemmodeling.cupid.NUOPC.presentation.NUOPCActionBarContributor">
      </editor>
   </extension>

</plugin>
