<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NUOPC -->
      <package
            uri="http://www.earthsystemcog.org/projects/nuopc"
            class="org.earthsystemmodeling.cupid.NUOPC.NUOPCPackage"
            genModel="model/NUOPC.genmodel"/>
   </extension>

</plugin>
