<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.earthsystemcurator.org/nuopc"
            class="org.earthsystemcurator.cupid.nuopc.fsml.nuopc.NUOPCPackage"
            genModel="model/nuopc.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.earthsystemcurator.cupid.nuopc.fsml.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="org.earthsystemcurator.cupid.nuopc.fsml.commands.category"
            id="org.earthsystemcurator.cupid.nuopc.fsml.commands.sampleCommand"
            name="Sample Command">
      </command>
      <command
            categoryId="org.earthsystemcurator.cupid.nuopc.fsml.commands.category"
            id="org.earthsystemcurator.cupid.nuopc.fsml.commands.reverseCommand"
            name="Reverse Command">
      </command>
      <command
            categoryId="org.earthsystemcurator.cupid.nuopc.fsml.commands.category"
            id="org.earthsystemcurator.cupid.nuopc.fsml.commands.forwardCommand"
            name="Forward Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.earthsystemcurator.cupid.nuopc.fsml.handlers.MappingTestHandler"
            commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.sampleCommand">
      </handler>
      <handler
            class="org.earthsystemcurator.cupid.nuopc.fsml.handlers.ReverseHandler"
            commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.reverseCommand">
      </handler>
      <handler
            class="org.earthsystemcurator.cupid.nuopc.fsml.handlers.ForwardHandler"
            commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.forwardCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.earthsystemcurator.cupid.nuopc.fsml.menus.sampleMenu"
               label="Cupid"
               mnemonic="M">
            <command
                  commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.sampleCommand"
                  id="org.earthsystemcurator.cupid.nuopc.fsml.menus.sampleCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.reverseCommand"
                  id="org.earthsystemcurator.cupid.nuopc.fsml.menus.reverseCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.forwardCommand"
                  id="org.earthsystemcurator.cupid.nuopc.fsml.menus.forwardCommand"
                  mnemonic="S"
                  tooltip="Forward engineer (generate code)">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.earthsystemcurator.cupid.nuopc.fsml.toolbars.sampleToolbar"
               label="Cupid">
            <command
                  commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.reverseCommand"
                  icon="icons/sample.gif"
                  id="org.earthsystemcurator.cupid.nuopc.fsml.toolbars.reverseCommand"
                  tooltip="Reverse engineer">
            </command>
            <command
                  commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="org.earthsystemcurator.cupid.nuopc.fsml.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="org.earthsystemcurator.cupid.nuopc.fsml.commands.forwardCommand"
                  icon="icons/sample.gif"
                  id="org.earthsystemcurator.cupid.nuopc.fsml.toolbars.forwardCommand"
                  tooltip="Forward engineer (generate code)">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
