<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.earthsystemcurator.cupid.esmf.presentation.ESMFModelWizardID"
            name="%_UI_ESMFModelWizard_label"
            class="org.earthsystemcurator.cupid.esmf.presentation.ESMFModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ESMFModelFile.gif">
         <description>%_UI_ESMFModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.earthsystemcurator.cupid.esmf.presentation.ESMFEditorID"
            name="%_UI_ESMFEditor_label"
            icon="icons/full/obj16/ESMFModelFile.gif"
            extensions="esmf"
            class="org.earthsystemcurator.cupid.esmf.presentation.ESMFEditor"
            contributorClass="org.earthsystemcurator.cupid.esmf.presentation.ESMFActionBarContributor">
      </editor>
   </extension>

</plugin>
