/.Child.java._trace
/.Name.java._trace
/.Label.java._trace
/.ASTRef.java._trace
/Child.java
/Label.java
/Name.java
/.Property.java._trace
/.Prop.java._trace
/Prop.java
/.Label.xtendbin
/.Child.xtendbin
/.Name.xtendbin
/.Prop.xtendbin
/.MappingType.java._trace
/.Doc.java._trace
