<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>


   <extension
         point="org.eclipse.ui.commands">
     
      <category
            id="org.earthsystemmodeling.cupid.commands"
            name="Cupid Commands">
      </category>
      <command
            categoryId="org.earthsystemmodeling.cupid.commands"
            id="org.earthsystemmodeling.cupid.showNUOPCView"
            name="Show NUOPC View">
      </command>
      <command
            categoryId="org.earthsystemmodeling.cupid.commands"
            id="org.earthsystemmodeling.cupid.showNUOPCDocView"
            name="Show NUOPC Doc View">
      </command>
      <command
            categoryId="org.earthsystemmodeling.cupid.commands"
            id="org.earthsystemmodeling.cupid.generateCode"
            name="Generate NUOPC Code">
      </command>
      <command
            categoryId="org.earthsystemmodeling.cupid.commands"
            id="org.earthsystemmodeling.cupid.generateNUOPCComp"
            name="Generate NUOPC Component">
         <commandParameter
               id="org.earthsystemmodeling.cupid.generateNUOPCComp.componentType"
               name="Component Type"
               optional="true">
         </commandParameter>
      </command>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.earthsystemmodeling.cupid.handlers.ShowNUOPCView"
            commandId="org.earthsystemmodeling.cupid.showNUOPCView">
      </handler>
      <handler
            class="org.earthsystemmodeling.cupid.handlers.ShowNUOPCDocView"
            commandId="org.earthsystemmodeling.cupid.showNUOPCDocView">
      </handler>
      <handler
            class="org.earthsystemmodeling.cupid.handlers.GenerateCodeHandler"
            commandId="org.earthsystemmodeling.cupid.generateCode">
      </handler>
      <handler
            class="org.earthsystemmodeling.cupid.handlers.GenerateNUOPCComponent"
            commandId="org.earthsystemmodeling.cupid.generateNUOPCComp">
      </handler>
   </extension>
  
  
   <extension
         point="org.eclipse.ui.menus">
      
      <!--
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.earthsystemmodeling.cupid.menus.sampleMenu"
               label="Cupid"
               mnemonic="M">
            <command
                  commandId="org.earthsystemmodeling.cupid.commands.reverseCommand"
                  icon="icons/arrow_right.png"
                  id="org.earthsystemmodeling.cupid.menus.reverseCommand"
                  mnemonic="S">
            </command>
           
            <command
                  commandId="org.earthsystemmodeling.cupid.commands.forwardCommand"
                  icon="icons/arrow_left.png"
                  id="org.earthsystemmodeling.cupid.menus.forwardCommand"
                  mnemonic="S"
                  tooltip="Forward engineer (generate code)">
            </command>
            
            <command
                  commandId="org.earthsystemmodeling.cupid.commands.compareCommand"
                  id="org.earthsystemmodeling.cupid.menus.compareCommand"
                  mnemonic="S"
                  tooltip="Compare">
            </command>
           
         </menu>
      </menuContribution>
     
      -->
      
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.earthsystemmodeling.cupid.toolbars.sampleToolbar"
               label="Cupid">
           	<command
                  commandId="org.earthsystemmodeling.cupid.showNUOPCView"
                  icon="icons/hierarchy.png"
                  id="org.earthsystemmodeling.cupid.toolbars.showNUOPCView"
                  tooltip="Show NUOPC View">
            </command>
            <command
                  commandId="org.earthsystemmodeling.cupid.showNUOPCDocView"
                  icon="icons/book.gif"
                  id="org.earthsystemmodeling.cupid.toolbars.showNUOPCDocView"
                  tooltip="Show NUOPC Doc View">
            </command>
         </toolbar>
      </menuContribution>
        
         
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
           <menu
                icon="icons/hierarchy.png"
                label="NUOPC"
                mnemonic="N">
             <command
               commandId="org.earthsystemmodeling.cupid.generateCode"
               id="org.earthsystemmodeling.cupid.menus.generateCode">
	         	<visibleWhen checkEnabled="false">
	   				<with variable="activeMenuSelection">
				      <iterate ifEmpty="false">
				         <adapt type="org.eclipse.core.resources.IResource">
				              <test property="org.eclipse.core.resources.extension" value="nuopc" />
				         </adapt>
				      </iterate>
				   </with>
				</visibleWhen>
         	</command>
            <command
                  commandId="org.earthsystemmodeling.cupid.generateNUOPCComp"
                  label="Generate Driver..."
                  mnemonic="D"
                  style="push">
               <parameter
                     name="org.earthsystemmodeling.cupid.generateNUOPCComp.componentType"
                     value="driver">
               </parameter>             
               <visibleWhen checkEnabled="false">
         			<with variable="selection">
         				<iterate ifEmpty="false">
         					 <adapt type="org.eclipse.core.resources.IContainer"/>
         				</iterate>
         			</with>         			         			
         		</visibleWhen>
            </command>
            <command
                  commandId="org.earthsystemmodeling.cupid.generateNUOPCComp"
                  label="Generate Model cap..."
                  mnemonic="M"
                  style="push">
               <parameter
                     name="org.earthsystemmodeling.cupid.generateNUOPCComp.componentType"
                     value="model">
               </parameter>
               <visibleWhen checkEnabled="false">
         			<with variable="selection">
         				<iterate ifEmpty="false">
         					 <adapt type="org.eclipse.core.resources.IContainer"/>
         				</iterate>
         			</with>         			         			
         		</visibleWhen>
            </command>
            <command
                  commandId="org.earthsystemmodeling.cupid.generateNUOPCComp"
                  label="Generate Mediator..."
                  mnemonic="e"
                  style="push">
               <parameter
                     name="org.earthsystemmodeling.cupid.generateNUOPCComp.componentType"
                     value="mediator">
               </parameter>
               <visibleWhen checkEnabled="false">
         			<with variable="selection">
         				<iterate ifEmpty="false">
         					 <adapt type="org.eclipse.core.resources.IContainer"/>
         				</iterate>
         			</with>         			         			
         		</visibleWhen>
            </command>
          </menu>
      </menuContribution>
      
      
       <menuContribution
            locationURI="popup:common.new.menu?after=new">
            
            <command
                  commandId="org.earthsystemmodeling.cupid.generateNUOPCComp"
                  label="NUOPC Driver"
                  mnemonic="D"
                  style="push">
               <parameter
                     name="org.earthsystemmodeling.cupid.generateNUOPCComp.componentType"
                     value="driver">
               </parameter>             
               <visibleWhen checkEnabled="false">
         			<with variable="selection">
         				<iterate ifEmpty="false">
         					 <adapt type="org.eclipse.core.resources.IContainer"/>
         				</iterate>
         			</with>         			         			
         		</visibleWhen>
            </command>
            <command
                  commandId="org.earthsystemmodeling.cupid.generateNUOPCComp"
                  label="NUOPC Model cap"
                  mnemonic="M"
                  style="push">
               <parameter
                     name="org.earthsystemmodeling.cupid.generateNUOPCComp.componentType"
                     value="model">
               </parameter>
               <visibleWhen checkEnabled="false">
         			<with variable="selection">
         				<iterate ifEmpty="false">
         					 <adapt type="org.eclipse.core.resources.IContainer"/>
         				</iterate>
         			</with>         			         			
         		</visibleWhen>
            </command>
            <command
                  commandId="org.earthsystemmodeling.cupid.generateNUOPCComp"
                  label="NUOPC Mediator"
                  mnemonic="e"
                  style="push">
               <parameter
                     name="org.earthsystemmodeling.cupid.generateNUOPCComp.componentType"
                     value="mediator">
               </parameter>
               <visibleWhen checkEnabled="false">
         			<with variable="selection">
         				<iterate ifEmpty="false">
         					 <adapt type="org.eclipse.core.resources.IContainer"/>
         				</iterate>
         			</with>         			         			
         		</visibleWhen>
            </command>
       </menuContribution>
      
      
     <!--
       <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.earthsystemmodeling.cupid.commands.reverseCommand"
               id="org.earthsystemmodeling.cupid.menus.reverseCommand">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         
       
         <command
               commandId="org.earthsystemmodeling.cupid.commands.forwardCommand"
               id="org.earthsystemmodeling.cupid.menus.forwardCommand"
               tooltip="Forward engineer (generate code)">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
        
      </menuContribution>
      
       
      
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="org.earthsystemmodeling.cupid.addRemoveNUOPCNature"
               label="Remove NUOPC project nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.earthsystemmodeling.cupid.nuopcNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.earthsystemmodeling.cupid.addRemoveNUOPCNature"
               label="Add NUOPC project nature"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.earthsystemmodeling.cupid.nuopcNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
     
            
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.earthsystemmodeling.cupid.populateCodeDB"
               id="org.earthsystemmodeling.cupid.menus.populateCodeDB">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        operator="and">
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      
      -->
   </extension>
 
  
   <!--
   <extension
         id="nuopcBuilder"
         name="NUOPC Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.earthsystemmodeling.cupid.builder.NUOPCBuilder">
         </run>
      </builder>
   </extension>
   -->
   <!--
   <extension
         id="nuopcNature"
         name="NUOPC Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.earthsystemmodeling.cupid.builder.NUOPCNature">
         </run>
      </runtime>
      <builder
            id="org.earthsystemmodeling.cupid.nuopcBuilder">
      </builder>
   </extension>
   -->
   <!--
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   -->
   <!--
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.earthsystemmodeling.nuopcnav">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.earthsystemmodeling.cupid.navigatorContent2">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
  -->
   <!--
   <extension
         id="org.earthsystemmodeling.nuopc_nav_content"
         name="NUOPC Navigator Content"
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.cdt.ui.navigator.content"
            contentProvider="org.earthsystemmodeling.cupid.nav.NUOPCNavContentProvider"
            icon="icons/sample.gif"
            id="org.earthsystemmodeling.cupid.navigatorContent2"
            labelProvider="org.earthsystemmodeling.cupid.nav.NUOPCNavLabelProvider"
            name="NUOPC Navigator Content"
            priority="normal">
         <triggerPoints>
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IFile">
                  </instanceof>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="F90">
                  </test>
               </and>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.earthsystemmodeling.cupid"
            name="NUOPC">
      </category>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.views.NUOPCDocView"
            icon="icons/book.gif"
            id="org.earthsystemmodeling.cupid.views.NUOPCDocView"
            name="NUOPC Doc">
      </view>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.views.NUOPCView"
            icon="icons/hierarchy.png"
            id="org.earthsystemmodeling.cupid.views.NUOPCView"
            name="NUOPC View">
      </view>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.views.NUOPCDesignFragmentView"
            icon="icons/hierarchy.png"
            id="org.earthsystemmodeling.cupid.views.NUOPCDesignFragmentView"
            name="NUOPC Design Fragments">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         id="cupidmarker"
         name="Cupid Marker"
         point="org.eclipse.core.resources.markers">      
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         id="cupidparam"
         name="Cupid Parameter Marker"
         point="org.eclipse.core.resources.markers">      
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         id="cupiderror"
         name="Cupid Validation Error"
         point="org.eclipse.core.resources.markers">      
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <!--
      <type
         name="org.eclipse.jdt.ui.error"
         super="org.eclipse.ui.workbench.texteditor.error"
         markerType="org.eclipse.jdt.core.problem"
         markerSeverity="2">
      </type>
      <type
         name="org.eclipse.jdt.ui.warning"
         super="org.eclipse.ui.workbench.texteditor.warning"
         markerType="org.eclipse.jdt.core.problem"
         markerSeverity="1">
      </type>
      -->
      <!--super="org.eclipse.ui.workbench.texteditor.info"-->
      <type
            markerSeverity="0"
            markerType="org.earthsystemmodeling.cupid.cupidmarker"
            name="CupidAnnotation"> <!--super="org.eclipse.ui.workbench.texteditor.info"-->
      </type>
      <type
            markerSeverity="0"
            markerType="org.earthsystemmodeling.cupid.cupidparam"
            name="CupidParam"> 
      </type>
      <type
            markerSeverity="2"
            markerType="org.earthsystemmodeling.cupid.cupiderror"
            name="org.earthsystemmodeling.cupid.cupiderrorannotation"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>
   
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
     <specification
           annotationType="CupidAnnotation"
           colorPreferenceKey="cupidMarkerColorPK"
           colorPreferenceValue="242,189,65"
           contributesToHeader="false"
           highlightPreferenceKey="cupidMarkerHighlightPK"
           highlightPreferenceValue="false"
           includeOnPreferencePage="true"
           isGoToNextNavigationTarget="false"
           isGoToNextNavigationTargetKey="cupidMarkerIGTNNTK"
           isGoToPreviousNavigationTarget="false"
           isGoToPreviousNavigationTargetKey="cupidMarkerIGTPNTK"
           label="Cupid Generated Code Annotation"
           overviewRulerPreferenceKey="cupidMarkerOverviewRulerPK"
           overviewRulerPreferenceValue="true"
           presentationLayer="1"
           showInNextPrevDropdownToolbarAction="false"
           showInNextPrevDropdownToolbarActionKey="cupidMarkerSINPDTAK"
           textPreferenceKey="cupidMarkerTextPK"
           textPreferenceValue="true"
           textStylePreferenceKey="cupidMarkerTextStylePrefKey"
           textStylePreferenceValue="IBEAM"
           verticalRulerPreferenceKey="cupidMarkerVerticalRulerPK"
           verticalRulerPreferenceValue="false"/>
           
      <specification
           annotationType="CupidParam"
           colorPreferenceKey="cupidParamColorPK"
           colorPreferenceValue="199,210,243"
           contributesToHeader="false"
           highlightPreferenceKey="cupidParamHighlightPK"
           highlightPreferenceValue="true"
           includeOnPreferencePage="true"
           isGoToNextNavigationTarget="true"
           isGoToNextNavigationTargetKey="cupidParamIGTNNTK"
           isGoToPreviousNavigationTarget="true"
           isGoToPreviousNavigationTargetKey="cupidParamIGTPNTK"
           label="Cupid Parameter Annotation"
           overviewRulerPreferenceKey="cupidParamOverviewRulerPK"
           overviewRulerPreferenceValue="true"
           presentationLayer="1"
           showInNextPrevDropdownToolbarAction="false"
           showInNextPrevDropdownToolbarActionKey="cupidParamSINPDTAK"
           textPreferenceKey="cupidParamTextPK"
           textPreferenceValue="true"
           textStylePreferenceKey="cupidParamTextStylePrefKey"
           textStylePreferenceValue="NONE"
           verticalRulerPreferenceKey="cupidParamVerticalRulerPK"
           verticalRulerPreferenceValue="false"/>
                
    <!--
     <specification
           annotationType="org.earthsystemmodeling.cupid.cupiderrorannotation"
           colorPreferenceKey="cupidErrorColorPK"
           highlightPreferenceKey="cupidErrorHighlightPK"
           highlightPreferenceValue="false"
           includeOnPreferencePage="true"
           label="Cupid Error"
           overviewRulerPreferenceKey="cupidErrorOverviewRulerPK"
           overviewRulerPreferenceValue="false"
           showInNextPrevDropdownToolbarActionKey="cupidErrorSINPDTAKPK"
           symbolicIcon="error"
           textPreferenceKey="cupidErrorTextPK"
           textPreferenceValue="true"
           textStylePreferenceKey="cupidErrorTextStylePK"
           textStylePreferenceValue="PROBLEM_UNDERLINE"
           verticalRulerPreferenceKey="cupidErrorVerticalRulerPK"
           verticalRulerPreferenceValue="true">
     </specification>
     -->
  </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.earthsystemmodeling.cupid.handlers.CupidMarkerResolutionGenerator"
            markerType="org.earthsystemmodeling.cupid.cupiderror">
      </markerResolutionGenerator>
   </extension>
   -->
   
   <!--
   <extension
         point="org.eclipse.photran.ui.sourceViewerConfig">
      <sourceViewerConfig
            factory="org.earthsystemmodeling.cupid.handlers.FortranSourceViewerConfigurationFactory">
      </sourceViewerConfig>
   </extension>
   -->
   <!--
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.photran.ui.newui.Page_head_general"
            class="org.earthsystemmodeling.cupid.properties.CupidPropertyPage"
            id="org.earthsystemmodeling.cupid.properties.cupidPropertyPage"
            name="Cupid Property Page">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.earthsystemmodeling.cupid.nuopc"
            name="NUOPC">
      </category>
      <wizard
            category="org.earthsystemmodeling.cupid.nuopc"
            class="org.earthsystemmodeling.cupid.wizards.CupidProjectWizard"
            finalPerspective="org.eclipse.photran.ui.FortranPerspective"
            icon="icons/hierarchy.png"
            id="org.earthsystemmodeling.cupid.wizards.NUOPCProjectWizard"
            name="NUOPC Project"
            project="true">
      </wizard>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.earthsystemmodeling.cupid.nuopc.cheatsheet.category"
            name="Cupid">
      </category>
      <cheatsheet
            category="org.earthsystemmodeling.cupid.nuopc.cheatsheet.category"
            composite="false"
            contentFile="cheatsheets/cupid_new_project.xml"
            id="org.earthsystemmodeling.cupid.cheatsheet.cupid_new_project"
            name="Create a New Cupid Training Project">
      </cheatsheet>
      <cheatsheet
            category="org.earthsystemmodeling.cupid.nuopc.cheatsheet.category"
            composite="false"
            contentFile="cheatsheets/cupid_compile_run.xml"
            id="org.earthsystemmodeling.cupid.cheatsheet.cupid_compile_run"
            name="Compile and Run a NUOPC Application">
      </cheatsheet>
      <cheatsheet
            category="org.earthsystemmodeling.cupid.nuopc.cheatsheet.category"
            composite="false"
            contentFile="cheatsheets/nuopc_init.xml"
            id="org.earthsystemmodeling.cupid.cheatsheet.nuopc_init"
            name="NUOPC Initialization Phase Definition Cheet Sheet">
         <description>
            Cheat sheet for learning the NUOPC Initialize Phase Definition
         </description>
      </cheatsheet>
      <taskEditor
            class="org.earthsystemmodeling.cupid.views.CheatsheetTaskEditor"
            icon="icons/green_heart.png"
            id="org.earthsystemmodeling.cupid.cheatsheet.taskEditor">
      </taskEditor>
   </extension>
   -->
   
   <!--
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.earthsystemmodeling.cupid.views.CupidPerspectiveFactory"
            fixed="false"
            id="org.earthsystemmodeling.cupid.perspective"
            name="Cupid">
         <description>
            The Cupid Training Environment perspective simpifies the Eclipse platform by hiding toolbars, views, and menu options not required for modeler training.
         </description>
      </perspective>
   </extension>
   -->
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
   
   	<!--
      <perspectiveExtension
            targetID="org.earthsystemmodeling.cupid.perspective">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <newWizardShortcut
               id="org.earthsystemmodeling.cupid.wizards.CupidProjectWizard">
         </newWizardShortcut>
         <hiddenToolBarItem
               id="org.eclipse.ui.project.buildAll">
         </hiddenToolBarItem>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   	-->
   
      <perspectiveExtension
            targetID="org.eclipse.photran.ui.FortranPerspective">
         <view
               id="org.earthsystemmodeling.cupid.views.NUOPCView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="true">
         </view>
         <view
               id="org.earthsystemmodeling.cupid.views.NUOPCDocView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.earthsystemmodeling.cupid.preferences.CupidPreferencePage"
            id="org.earthsystemmodeling.cupid.preferences.CupidPreferencePage"
            name="Cupid">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.earthsystemmodeling.cupid.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <!--
   <extension point = "org.eclipse.emf.ecore.validation_delegate">
    <delegate uri = "http://www.eclipse.org/emf/2002/Ecore/OCL"
       class = "org.earthsystemmodeling.cupid.util.OCLValidationDelegateMappingExt" />
  </extension>
	-->

</plugin>
