<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated CreateSyncProject -->
      <factory
            uri="http://www.eclipse.org/oomph/setup/createsyncproject/1.0"
            class="org.eclipse.oomph.setup.createsyncproject.provider.CreateSyncProjectItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated CreateSyncProject -->
      <extender
            uri="http://www.eclipse.org/oomph/base/1.0"
            class="org.eclipse.oomph.setup.createsyncproject.provider.CreateSyncProjectItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/oomph/setup/1.0"
            class="org.eclipse.oomph.setup.createsyncproject.provider.CreateSyncProjectItemProviderAdapterFactory$SetupChildCreationExtender"/>
   </extension>

</plugin>
