<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="luna-sr1_cupid-0.1" sequenceNumber="81">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.2.1.201402241301"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.2.1.201402241301"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.1.M20140925-0400"/>
<unit id="epp.package.parallel" version="4.4.1.20150109-0740"/>
<unit id="org.eclipse.xtend.feature.group" version="2.0.0.v201406030414"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.7.2.v201409160908"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.7 -Xms512m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
