<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="mars-rc4" sequenceNumber="86">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.3.0.201506081302"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.3.0.201506081302"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.photran.feature.group" version="9.1.0.201505301604"/>
<unit id="org.eclipse.ptp.feature.group" version="9.0.0.201506011519"/>
<unit id="org.eclipse.remote.feature.group" version="2.0.0.201506011407"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.8.3.v201506010551"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
</locations>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.7 -Xms512m -Xmx1024m</vmArgs>
</launcherArgs>
</target>
