<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.earthsystemmodeling.cupid.trace.nuopc"
            isDirectory="false"
            name="NUOPC Trace"
            trace_type="org.earthsystemmodeling.cupid.trace.NUOPCTrace">
      </type>
   </extension>
   
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      
      
      <module
            analysis_module="org.earthsystemmodeling.cupid.trace.NUOPCCallStackAnalysis"
            automatic="false"
            id="org.earthsystemmodeling.cupid.trace.NUOPCCallStackAnalysis"
            name="NUOPC Call Stack Analysis">
         <tracetype
               applies="true"
               class="org.earthsystemmodeling.cupid.trace.NUOPCTrace">
         </tracetype>
      </module>
      
      
      <module
            analysis_module="org.earthsystemmodeling.cupid.trace.NUOPCStateSystemAnalysisModule"
            automatic="false"
            id="org.earthsystemmodeling.cupid.trace.NUOPCStateSystemAnalysisModule"
            name="NUOPC State System Analysis">
         <tracetype
               applies="true"
               class="org.earthsystemmodeling.cupid.trace.NUOPCTrace">
         </tracetype>
      </module>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.trace.NUOPCRunStatsView"
            icon="icons/linegraph.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCRunStats"
            name="NUOPC Run Statistics"
            restorable="true">
      </view>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.trace.NUOPCStateView"
            icon="icons/state.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCStateView"
            name="NUOPC State Explorer"
            restorable="true">
      </view>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.trace.NUOPCCallStackView"
            icon="icons/stack.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCCallStackView"
            name="NUOPC Call Stack View"
            restorable="true">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.tracecompass.tmf.ui.symbolProvider">
      <providerFactory
            class="org.earthsystemmodeling.cupid.trace.NUOPCSymbolProviderFactory"
            id="org.earthsystemmodeling.cupid.trace.NUOPCSymbolProviderFactory"
            priority="60">
      </providerFactory>
   </extension>

</plugin>
