<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.earthsystemmodeling.cupid.trace.nuopc"
            isDirectory="false"
            name="NUOPC Log-Based Trace"
            trace_type="org.earthsystemmodeling.cupid.trace.json.NUOPCTrace">
      </type>
      <type
            category="org.eclipse.linuxtools.tmf.ctf.core.category.ctf"
            event_type="org.eclipse.tracecompass.tmf.ctf.core.event.CtfTmfEvent"
            id="org.earthsystemmodeling.cupid.trace.nuopcctf"
            isDirectory="true"
            name="NUOPC Trace"
            trace_type="org.earthsystemmodeling.cupid.trace.NUOPCCtfTrace">
      </type>
   </extension>
   
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      
      
      <module
            analysis_module="org.earthsystemmodeling.cupid.trace.json.NUOPCCallStackAnalysis"
            automatic="false"
            icon="icons/stack.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCCallStackAnalysis"
            name="NUOPC Log-Based Call Stack Analysis">
         <tracetype
               applies="true"
               class="org.earthsystemmodeling.cupid.trace.json.NUOPCTrace">
         </tracetype>
      </module>
      
      
      <module
            analysis_module="org.earthsystemmodeling.cupid.trace.json.NUOPCStateSystemAnalysisModule"
            automatic="false"
            icon="icons/state.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCStateSystemAnalysisModule"
            name="NUOPC Log-Based State System Analysis">
         <tracetype
               applies="true"
               class="org.earthsystemmodeling.cupid.trace.json.NUOPCTrace">
         </tracetype>
      </module>
      
      <module
            analysis_module="org.earthsystemmodeling.cupid.trace.NUOPCCtfCallStackAnalysis"
            automatic="true"
            icon="icons/stack.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCCtfCallStackAnalysis"
            name="NUOPC Call Stack Analysis">
         <tracetype
               applies="true"
               class="org.earthsystemmodeling.cupid.trace.NUOPCCtfTrace">
         </tracetype>
      </module>
      <module
            analysis_module="org.earthsystemmodeling.cupid.trace.NUOPCCtfStateSystemAnalysisModule"
            automatic="true"
            icon="icons/state.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCCtfStateSystemAnalysisModule"
            name="NUOPC State System Analysis">
         <tracetype
               applies="true"
               class="org.earthsystemmodeling.cupid.trace.NUOPCCtfTrace">
         </tracetype>
      </module>
      
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.trace.view.NUOPCRunStatsView"
            icon="icons/linegraph.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCRunStats"
            name="NUOPC Run Statistics"
            restorable="true">
      </view>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.trace.view.NUOPCStateView"
            icon="icons/state.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCStateView"
            name="NUOPC State Explorer"
            restorable="true">
      </view>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.trace.view.NUOPCCallStackView"
            icon="icons/stack.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCCallStackView"
            name="NUOPC Call Stack View"
            restorable="true">
      </view>
      <view
            category="org.earthsystemmodeling.cupid"
            class="org.earthsystemmodeling.cupid.trace.view.NUOPCMemUsageView"
            icon="icons/linegraph.png"
            id="org.earthsystemmodeling.cupid.trace.NUOPCMemUsageView"
            name="NUOPC Memory Usage"
            restorable="true">
      </view>
   </extension>
   
   
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
   
      
      <perspectiveExtension
            targetID="org.eclipse.photran.ui.FortranPerspective">
         <view
               id="org.earthsystemmodeling.cupid.trace.NUOPCCallStackView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
         <view
               id="org.earthsystemmodeling.cupid.trace.NUOPCMemUsage"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
