<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.tmf.core.tracetype">
      <type
            event_type="org.eclipse.tracecompass.tmf.core.event.TmfEvent"
            id="org.earthsystemmodeling.cupid.trace.nuopc"
            isDirectory="false"
            name="NUOPC Trace"
            trace_type="org.earthsystemmodeling.cupid.trace.NUOPCTrace">
      </type>
   </extension>
   
   <extension
         point="org.eclipse.linuxtools.tmf.core.analysis">
      <module
            analysis_module="org.earthsystemmodeling.cupid.trace.NUOPCCallStackAnalysis"
            automatic="false"
            id="org.earthsystemmodeling.cupid.trace.NUOPCCallStackAnalysis"
            name="NUOPC Call Stack Analysis">
         <tracetype
               applies="true"
               class="org.earthsystemmodeling.cupid.trace.NUOPCTrace">
         </tracetype>
      </module>
      
   </extension>

</plugin>
