<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.earthsystemcurator.org/CupidLanguage" 
       class = "org.earthsystemcurator.cupidLanguage.CupidLanguagePackage"
       genModel = "model/generated/CupidLanguage.genmodel" /> 
	
  </extension>


    <!--
   <extension point="org.eclipse.emf.ecore.generated_package">
      
      <package
            uri="http://org.earthsystemcurator.cupid/core"
            class="org.earthsystemcurator.CupidCore.CupidCorePackage"
            genModel="model/CupidCore.genmodel"/>
   </extension>
	-->
	
</plugin>
