<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.earthsystemmodeling.org/Psyche" 
       class = "org.earthsystemmodeling.psyche.PsychePackage"
       genModel = "model/generated/Psyche.genmodel" /> 
	
  </extension>



</plugin>
